@import 'reset';
@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'base';

.fade-in {
  opacity: 0;
  animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width: 768px) {
  .navbar-header {
    text-align: center;
  }

  .intro-body {
    padding: 20px;
  }

  .intro-text {
    font-size: 1.5em;
  }
}

