<!doctype html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body
    id="page-top"
    data-spy="scroll"
    data-target=".navbar-fixed-top"
    data-offset="151"
  >
    {% include navigation.html %} 

    {% include header.html %} 

    {% for p in site.pages_list %} 
      {% for page in site.pages %} 
        {% if p[1] == page.section-type %} 
          {% include {{ page.path }} %} 
        {% endif %} 
      {% endfor %}
    {% endfor %} 

    <div class="even-poster">
        <img src="img/poster1.jpg" alt="Poster 1" class="poster">
    </div>
    <div class="cv-download">
        <a href="img/CV_SunhyunMin.pdf" class="btn">CV DOWNLOAD</a>
    </div>

    {% include footer.html %} 

    {% include js.html %}
  </body>
</html>
